<section>
  <h2 class="col-md-auto"><%= @dog.name %></h2>

  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}", :class => "col-md-auto" %>
  <% end %>

  <p class="col-md-auto"><%= @dog.description %></p>
  <% if logged_in? == true && current_user.id.to_s == @dog.owner%>
    <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path, :class => "col-md-auto" %>
    <br>
    <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => "col-md-auto" %>
  <%end%>

  <% if logged_in? == true && current_user.id.to_s != @dog.owner%>
    <%= link_to "Like #{@dog.name}'s Profile", edit_dog_path, :class => "col-md-auto" %>
  <%end%>
  
</section>
